---
/* Components */
import CloseIcon from "@components/ui/icons/CloseIcon.astro";
import MenuIcon from "@components/ui/icons/MenuIcon.astro";
import SpainFlagIcon from "@components/ui/icons/SpainFlagIcon.astro";
import UsaFlagIcon from "@components/ui/icons/UsaFlagIcon.astro";

/* Utils */
import { getLangFromUrl, useTranslations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="Nav">
  <label for="menu-toggle">
    <MenuIcon />
    <CloseIcon />
  </label>
  <input type="checkbox" id="menu-toggle" />
  <ul>
    {
      Object.entries(t("nav")).map(([key, value], index) => {
        const sectionId =
          key.replace("nav.", "").charAt(0).toUpperCase() +
          key.replace("nav.", "").slice(1);
        return (
          <li>
            <a
              class="MainMenuItem"
              href={"#" + sectionId}
              data-scroll-to={sectionId}
              aria-label={`Go to ${(value as string).charAt(0).toUpperCase() + (value as string).slice(1)} section`}
            >
              <span class="index">0{index + 1}.</span>
              <span class="name transitionAc">
                {(value as string).charAt(0).toUpperCase() +
                  (value as string).slice(1)}
              </span>
              <span class="sr-only">
                Go to{" "}
                {(value as string).charAt(0).toUpperCase() +
                  (value as string).slice(1)}{" "}
                section
              </span>
            </a>
          </li>
        );
      })
    }
  </ul>
  <div class="Nav__flags">
    {
      lang === "es" ? (
        <a href="/en">
          <UsaFlagIcon />
        </a>
      ) : (
        <a href="/">
          <SpainFlagIcon />
        </a>
      )
    }
  </div>
</nav>
