@import "tailwindcss";

/* Supports weights 400-900 */
@import "@fontsource-variable/orbitron";

@import "@fontsource/rajdhani";

@import "@fontsource/cutive-mono";

:root {
  --primary: #00f7ff;
  --primary-dim: #00a8b3;
  --secondary: #ff0066;
  --secondary-dim: #b30047;
  --orange: #ff6a00;
  --dark-bg: #050508;
  --dark-surface: #0a0a10;
  --primary-text: #e8e8f0;
  --secondary-text: #8a8a9a;
}

* {
  @apply box-border m-0 p-0 transition-all duration-500 ease-linear;
}

html {
  @apply scroll-smooth;
  font-family: "Rajdhani", sans-serif;
}

body {
  @apply relative bg-(--dark-bg) text-(--primary-text) overflow-x-hidden leading-[1.6] w-screen max-w-screen;
}

a,
button {
  @apply cursor-pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1,
h2,
h4 {
  font-family: "Orbitron Variable", sans-serif;
}

h1 {
  @apply text-6xl sm:text-7xl 2xl:text-8xl;
}

h2 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

p {
  @apply text-pretty mb-3 text-base lg:text-lg 2xl:text-xl;
}

.btn {
  @apply px-4 py-2 rounded-xs border font-bold;
}

.btn-primary {
  @apply border-(--primary)/50 text-(--primary)/75 hover:border-(--primary) hover:bg-(--primary)/50 hover:text-(--dark-bg)/90 hover:shadow-2xl hover:shadow-(--primary)/50;
}

.btn-secondary {
  @apply border-(--secondary)/50 text-(--secondary)/75 hover:border-(--secondary) hover:bg-(--secondary)/50 hover:text-(--primary-text)/90 hover:shadow-2xl hover:shadow-(--secondary)/50;
}
