---
/* Components */
import Section from "../shared/Section.astro";
import Form from "../shared/Form.svelte";
import SocialMedia from "../shared/SocialMedia.astro";

/* Utils */
import { getLangFromUrl, useTranslations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("contact") as string} index={5}>
  <article class="Contact">
    <Form client:only="svelte" lang={lang} />
    <SocialMedia />
  </article>
</Section>

<style>
  @reference "tailwindcss";
  .Contact {
    @apply grid grid-cols-1 gap-6;
  }
</style>
